[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "mwa"]
	path = mwa
	url = https://github.com/cran/mwa
	shallow = true
	registered = true
